.Paginate-Button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    background-image:url('/resources/static/btn_nonActive.png'); 
    background-size: cover;
}

.Paginate-Button.active{
    background-image: url('/resources/static/btn_isActive.png');
    filter:drop-shadow(0 0 0.2rem rgb(255, 255, 255))
}

.Paginate-Button span{
    font-size: 20px;
}