.Pagination-layout{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.btn{
    width: 100px;
    height: 40px;
}
.counter{
    font-size: 20px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;

}

.counter .curPege{
    font-size: 25px;
    order: 0;
}