.catalog-item{
    width: 350px;
    height: 500px;
    background-color: #c2d6bc;
    border:2px solid #850e0e;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color:rgb(82, 88, 67);
}

.catalogItem_img{
    position: relative;
    padding: 10px;
    overflow: hidden;
    
}

.wrap{
    height: 100%;/* при наведении мышкой - скрыть */
    transition: 0.5s;
}

.catalog-item:hover .wrap{
    height:unset;
}

.catalogItem_img img{
        
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    border-radius: 30px;

}
.catalog-item-data{
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    padding: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* color:#c2d6bc; */
}

.catalog-item:hover .catalog-item-data{
    display: flex;
}

.cart{
    margin-top: 3px;
    border: 2px solid #00000057;
    padding: 2px;
    padding-bottom: 7px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    
}
.cart:hover{
    background-color: rgba(250, 235, 215, 0.404);
    color:#850e0e
}